<p id="notice"><%= notice %></p>

<p>
  Name: <%= @comment.name %>
</p>

<p>
  Content: <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
