<h2>Name: <%= @post.name %></h2>
<h2>City: <%= @post.city %></h2>
<h2>Objective<%= @post.objective %></h2>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= button_to 'Delete', post_path(@post), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
